<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv='cache-control' content='no-cache'>
  <meta http-equiv='expires' content='0'>
  <meta http-equiv='pragma' content='no-cache'>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/login.css"/>

	<script src=
"https://www.gstatic.com/firebasejs/8.2.7/firebase-app.js">
	</script>

	<script src=
"https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js">
	</script>
	
	<script src="form.js"></script>
	<title>Login System</title>
  <li><a href="../templates/index.html">dashboard</a></li>
  <div class="logo" id="log"></div>
  <div class="navbar" id="navigation">
    <p>SOSHGIC HOSTEL ANALYTICA</p>
  </div>
</head>

<body>
    <div class="center" id="center">
      <h1>Login</h1>
      <form id="form">
        <div class="txt_field">
        <input type="email" class="txt_field"
          placeholder="email here" id="email" />
        </div>
        <div class="txt_field">
        <input type="password" class="txt_field"
          placeholder="password here" id="password" />
        </div>
        <button onclick="signIn()"  id="btn" class="signIp">
          SignIn
        </button>
      </form>
    </div>
</body>

</html>
