<!DOCTYPE html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content=
		"width=device-width, initial-scale=1.0" />

	<script src=
"https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js">
	</script>
	<link rel="stylesheet" href="../css/style.css" />
	<script src="../js/form.js"></script>
	<title>Login System</title>
</head>
  <body>
    <li><a href="../templates/index.html">dashboard</a></li>
    <div class="logo" id="log"></div>
    <div class="navbar" id="navigation">
      <p>SOSHGIC HOSTEL ANALYTICA</p>
    </div>
    <form>
      <div class="center">
        <h1>Login</h1>
        <form>
          <div class="txt_field" id="email">
            <input type="email"  />
            <label>Email</label>
          </div>
          <div class="txt_field" id="password">
            <input type="password"  />
            <label>Password</label>
          </div>
          <input type="submit" id="btnlogi" href="../templates/index.html" value="login" />
        </form>
      </div>
    </form>
  </body>
</html>
