<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="../css/login.css" />
    <script src="../js/form.js"></script>
  </head>
  <body>
    <li><a href="../templates/index.html">dashboard</a></li>
    <div class="logo" id="log"></div>
    <div class="navbar" id="navigation">
      <p>SOSHGIC HOSTEL ANALYTICA</p>
    </div>
    <div class="center">
      <h1>Login</h1>
      <form>
        <div class="txt_field">
        <input type="email" class="txt_field"
          placeholder="email here" id="email" />
        </div>
        <div class="txt_field">
        <input type="password" class="txt_field"
          placeholder="password here" id="password" />
        </div>
        <button onclick="signIn()" id="signup"class="signup">
          SignIn
        </button>
      </form>
    </div>
  </body>
</html>
